/* Background image */
.jumbotron {
    text-align: center;
    background-image: url("pics/girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    }
  
 .display-4 {
    color:   rgb(2, 2, 2);
    font-weight: 900;
   
  
 }
 .lead {
    color: rgb(2,2,2);
    font-size: 30px;
    font-weight: 700;
 }
 .jumbo2 {
   background-image: url("pics/trails.jpg")
 }

 .page2-box {
    font-size: 25px;
    font-weight: 600;
    border-style: solid;
    border-color: green;
    border-width: 4px;
    background-color: rgb(250, 232, 209);
    justify-content: center;
    
 }

 #trailImage {
   width: 100%;
   flex: none; 
}

#display-trail-name {
  font-size: 55px;

}


tr:nth-child(even) {
  background: lightgreen;
  font-size: 18px;
}

tr:nth-child(odd) {
  background: tan;
  font-size: 18px;
}

th{
  font-size: 20px;
}
 
 

